@import url("chrome://browser/content/mullvad-browser/mullvadBrowserFont.css");

body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  text-align: center;
  color: #FBFBFE;
  background: radial-gradient(117.28% 57.8% at 50% 47.7%, #205C9D 0%, #1B4D83 26.04%, #05101B 100%);
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #FFBD4F;
}

p {
  margin-inline: 8px;
  margin-block: 0.5em;
}

#headingImg {
  -moz-context-properties: fill;
  fill: currentColor;
}

.screen-reader-only {
  position: absolute;
  clip-path: inset(50%);
}

#header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  justify-items: center;
  align-content: center;
  gap: 1.5em;
}

#headingContainer {
  display: inline flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  gap: 16px;
}

#footer {
  padding-block: 40px;
  background: rgba(0, 0, 0, 0.2);
}
